@model IEnumerable<Domain.Entities.ClassModel>
<h2>Instructor Name: @ViewBag.InstructorName</h2>
<h3>Class List</h3>

<p>
    @*    <a asp-action="AddClass" asp-route-id="ClassID">Create New</a>
    *@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClassName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassSchedule)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassTime_Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassTime_End)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject.SubjectNameExt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassSchedule)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassTime_Start)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassTime_End)
                </td>
            </tr>
        }
    </tbody>
</table>